.post-title h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 3px solid #55f;
}
article {
  background: #eee;
  padding: 15px;
  margin-left: 10px;
}

article table, tr, td, thead, th {
  border-style: solid;
  border-width: thin;
}

blockquote{
background-color:#ddd;
padding:1em;
position:relative;
z-index:1;
}

#comments {
  margin: 0px;
  padding: 0px;
}

.comment-head {
  font-size: 18px;
  padding: 5px;
  border-bottom: 1px solid #bbb;
}

#comments section{
  background: #dde;
  margin-left: 30px;
  padding: 5px;
}

#comments li {
  border: 1px solid #aaa;
  padding-left: 30px;
  margin: 5px;
  list-style: none;
}

input {
  margin: 0;
  width: 98%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

textarea, #editor div{
  display: inline-block;
  width: 49%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
  padding: 0 20px;
}

#editor div{
  height: 400px;
  overflow: auto;
}

textarea {
  border: none;
  border-right: 1px solid #ccc;
  resize: none;
  outline: none;
  height: 400px;
  background-color: #f6f6f6;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 20px;
}
